*{
  margin: 0px;
  padding: 0px;
}

#wrapper{
 width: 970px;
 height: 620px;
 background-color: #264073;
 margin: 10px auto;
 padding: 10px;
}

#header{
 height: 40px;
 color: #c0d5ff;
 border-radius: 15px;
 background-color: #d92c29;
 margin-bottom: 20px;
 padding: 20px;
}

#navigation{
 height: 250px;
 width: 200px;
 border-radius: 15px;
 color: #5febf0;
 background-color: #50999c;
 display:inline-block;
 float: left;
}

#nav_menu li {
  color: #5febf0;
}

#main_content{
 height: 410px;
 width: 720px;
 border-radius: 15px;
 background-color: #000000;
 padding-top: 20px;
 padding-right: 10px;
 padding-bottom: 20px;
 padding-left: 10px;
 display:inline-block;
 float: right;
}

#footer{
 height: 10px;
 width: 930px;
 border-radius: 15px;
 color: #d5e7ff;
 background-color: #787674;
 margin-top: 20px;
 padding: 20px;
 display: inline-block;
}

a{
  color: #5febf0;
}
