*{
  margin: 0px;
  padding: 0px;
  color: #d6e4e6;
}

#wrapper{
  width: 970px;
  background-color: #28478f;
}

#header{
  background-color: #f0322b;
  border-radius: 5px;
}

h1{
  color: #d6e4e6;
}

#sidenav{
  background-color: #0ca8a3;
  border-radius: 5px;
}

a{
  color: #51eaf5;
}

#main{
  background-color: #000000;
  border-radius: 5px;
}

h2{
  color: #d6e4e6;
}

span{
  color: #5f57f2;
}

footer{
  background-color: #858585;
  border-radius: 5px;
}
