*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 height: 600px;
 background-color: silver;
 margin: 10px auto;
 padding: 20px;
}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin-right: 10px;
 display:inline-block;
}
#main_content{
 height: 410px;
 width: 710px;
 background-color: red;
 padding: 10px;
 display:inline-block;
 float: right;
}
.subcontents{
 height: 206px;
 width: 206px;
 background-color: yellow;
 display:inline-block;
 margin:5px;
}
#advertisement{
 height: 120px;
 width: 650px;
 background-color: purple;
 margin-top: 20px;
 margin-left: 5px;
 display: inline-block;
 float: left;
}
